main {
  grid-column: 2 / 6;
  grid-row: 3 / 4;
  background: lightgrey;
  padding: 0.5em;
  overflow-y: auto;
  overflow-x: auto;
}

.root-branch-box {
  display: block;
}

.branch-box {
  padding: 1em;
}

.branch-box a {
  display: block;
}

.art-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.art-container canvas {
  background: white;
  margin-bottom: 1em;
}

.art-container canvas:last-of-type {
  margin-bottom: 0;
}