main {
  grid-column: 3 / 9;
  grid-row: 3 / 4;
  background: lightgrey;
  padding: 0.5em;
  overflow-y: scroll;
  overflow-x: scroll;
}

.branch-box {
  padding: 1em;
}

.branch-box a {
  display: block;
}